<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="row">
            <div class="col-sm-8">
                <div class="jumbotron">
                    <h1>Hello</h1>
                    <p>Welcome to my page</p>
                    <h2>Name: Ebtisam Abdulklaiq </h2><br>
                    <h4>I am 28 years old I was born and rased in Saudi Arabia, my favourit sport is basketball, 
                        <br>I am student at centennial college, I am studing software engineering Technology <br>
                    course code : COM229<br>
                course Name: Web application Development</h4>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="well">
                    <h3>Look I'm A Sidebar!</h3> <br>
                    <img src="logo.jpg" alt="">
                </div>
            </div>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>